<ul>
	<li><a href="/5star.html">5★ Data</a></li>
	<li style="margin-bottom:3px;"><a href="/faq.html">Frequently Asked Questions</a></li>
	
	<li><a href="/apps.html">Apps &amp; Tools</a><ul>
		<li style="border-bottom: 0px;"><a href="http://opendatamap.ecs.soton.ac.uk/">Open Data Map</a></li>
		<li style="border-bottom: 0px;"><a href="http://whatweekisit.southampton.ac.uk/">What Week Is It?</a></li>
		<li style="border-bottom: 0px;"><a href="http://bus.southampton.ac.uk/">Bus Information</a></li>
		<li style="border-bottom: 0px;"><a href="http://tools.southampton.ac.uk/workstations/">iSolutions Workstations</a></li>
		<li style="border-bottom: 0px;"><a href="http://tools.southampton.ac.uk/room-finder/">Room Finder</a></li>
	</ul></li>
	<li><a href="/datasets.html">Data Catalogue</a><ul>
		<li style="border-bottom: 0px;"><a href="external.html">External Data Sources</a></li>
	</ul></li>
	<li style="margin-top: 3px;"><a href="http://www.events.soton.ac.uk/">Events</a></li>
	<li><a href="http://www.catering.soton.ac.uk/">Catering</a></li>
	<li style="margin-top:3px"><a href="/places.html">Places</a></li>
	<li><a href="/phonebook.html">Phonebook</a></li>
	<li><a href="/programmes.html">Academic Programmes</a></li>
	<li><a href="/organisation.html">Organisation</a></li>
	<li><a href="/facilities.html">Research Facilities</a></li>
	<li><a href="/jargon.html">Jargon</a></li>
	<li><a href="/points-of-service.html">Points of Service</a></li>
	<li><a href="/products-and-services.html">Products &amp; Services</a></li>

	<li style="margin-top:3px"><a href="http://sparql.data.southampton.ac.uk/">SPARQL Endpoint</a></li>
	<li><a href="/software.html">Our Software</a></li>
	<li><a href="/feedback.html">Feedback</a></li>
	<li><a href="/credits.html">Credits</a></li>
</ul>
